@model IEnumerable<SushiEShop.Models.Product>

@if (this.User.Identity.IsAuthenticated)
{
    <h1>Order</h1>
}
else{
    <h3>Login or Register to Place Order</h3>
}
<div class="text-center">
    <li class="nav-item m-2">
        <a class="nav-link" asp-area="Guest" asp-action="Entrees" asp-controller="Home">Entrees</a>
    </li>
    <li class="nav-item m-2">
        <a class="nav-link" asp-area="Guest" asp-action="Mains" asp-controller="Home">Mains</a>
    </li>
    <li class="nav-item m-2">
        <a class="nav-link" asp-area="Guest" asp-action="Deserts" asp-controller="Home">Deserts</a>
    </li>
    <li class="nav-item m-2">
        <a class="nav-link" asp-area="Guest" asp-action="Drinks" asp-controller="Home">Drinks</a>
    </li>
</div>
<div class="row pb-4">
       <h3>Entrees</h3>
    @foreach (var item in @Model)
    {
        @if(item.CategoryId==1){
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Price: @item.Price.ToString("0.00")</p>
                        <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <!--<p class="card-text">Price: @item.Price.ToString("0.00")</p>-->
                        <!--<a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>-->
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            }
        }
        
    }
</div>
<div class="row pb-4">
    <h3>Mains</h3>
    @foreach (var item in @Model)
    {
        @if (item.CategoryId == 2)
        {
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Price: @item.Price.ToString("0.00")</p>
                        <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <!--<p class="card-text">Price: @item.Price.ToString("0.00")</p>-->
                        <!--<a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>-->
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            }
        }

    }
</div>
<div class="row pb-4">
    <h3>Deserts</h3>
    @foreach (var item in @Model)
    {
        @if (item.CategoryId == 3)
        {
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Price: @item.Price.ToString("0.00")</p>
                        <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <!--<p class="card-text">Price: @item.Price.ToString("0.00")</p>-->
                        <!--<a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>-->
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            }
        }

    }
</div>
<div class="row pb-4">
    <h3>Drinks</h3>
    @foreach (var item in @Model)
    {
        @if (item.CategoryId == 4)
        {
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Price: @item.Price.ToString("0.00")</p>
                        <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <!--<p class="card-text">Price: @item.Price.ToString("0.00")</p>-->
                        <!--<a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>-->
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            }
        }

    }
</div>